#splash {
	background-color: #000;
	visibility: visible;
	height: 100%;
	width: 100%;
	display: table;
}
#loadingtext {
	display: table-cell; 
        vertical-align: middle;
	text-align: center;
        color: #FFF;
}
